<ion-content>
  <a [routerLink]="['./']" [fragment]="'section4'">section 4</a><br>
  <a [routerLink]="['./']" [fragment]="'section5'">section 5 (tabindex 0 set)</a><br>
  <section id="section1">
    <h2>Section</h2>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
  </section>
  <section id="section2">
    <h2>Section 2</h2>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
  </section>
  <section id="section3">
    <h2>Section 3</h2>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
  </section>
  <section id="section4">
    <h2>Section 4</h2>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
  </section>
  <section id="section5" tabindex="0">
    <h2>Section 5</h2>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
    <p>Text abc</p>
  </section>

</ion-content>
