<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button id="trigger">Open Popover</ion-button>

  <ion-popover class="mjp-hide-m-down user-popover"
               [trigger]="'trigger'"
               [dismissOnSelect]="true"
               [showBackdrop]="false"
               [backdropDismiss]="false"
               side="bottom">
    <ng-template>
      <div>
        <p>Popover content</p>
      </div>
    </ng-template>
  </ion-popover>
</ion-content>
